.accordion {
    border-radius: 10px;
    border: 1px solid transparent !important;
    background: rgb(255, 255, 255);
    margin-bottom: 8px;
    width: 100%;
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accordion__item {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: row;*/
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid transparent !important;
    /*box-shadow: rgb(236, 237, 239) 0px 2px 0px 0px;*/
    background: rgb(255, 255, 255);
}

.accordion__header button{
    padding: 0 10px 0 0;
}
.accordion__header{
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    border-radius: 10px;
    border: 1px solid #dadde0;
    box-shadow: 0 2px 0 0 #ecedef;
    background: #fff;
    overflow: hidden;
}

.accordion__item h4{
    font-weight: 400;
    font-size: 18px;
    padding-left: 8px;
    line-height: 20px;
    /*color: rgb(0, 73, 94);*/
    margin: 0;
}

.level__container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #dadde0;
    box-shadow: 0 2px 0 0 #ecedef;
    background: #fff;
    overflow: hidden;
}

.container {
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
    padding: 8px 16px 16px;
}

.level__container:hover {
    border: 1px solid #21bcb6;
}

